@charset "UTF-8";
/* 글자 크기를 픽셀로 주면 화면을 줄여도 줄지 않고 퍼센트로 주면 화면 크기에 따라 글씨 크기가 변한다  */
#header{background-color: black;color:white;text-align: center;	padding: 5px;}
#nav{
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 100px;
	float: left;
	padding: 5px;
}
#section{
	width: 800px;
	float:left;
	padding: 10px;
} 
#footer{
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}